In [2]:
import statistics

In [3]:
data1 = [45,42,42,41,40]
data2 = [54,48,42,33,33]

In [4]:
statistics.mean(data1)

42

In [5]:
statistics.mean(data2)

42

In [6]:
statistics.variance(data1)

3.5

In [7]:
statistics.variance(data2)

85.5

In [8]:
max(data1)-min(data2)

12

In [9]:
statistics.variance(data1)

3.5

In [10]:
statistics.variance(data2)

85.5

In [11]:
statistics.pstdev(data1)

1.6733200530681511

In [12]:
statistics.pstdev(data2)

8.270429251254134

In [13]:
import seaborn as sns

In [14]:
import pandas as pd

In [15]:
df = sns.load_dataset("mpg")

In [16]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320

In [17]:
df["mpg"].max()-df["mpg"].min()

37.6

In [18]:
df["weight"].max()-df["weight"].min()

3527

In [19]:
statistics.variance(df["mpg"])

61.0896107742744

In [20]:
statistics.variance(df["weight"])

717140.9905256763

In [21]:
statistics.mean(df["mpg"])

23.514572864321607

In [22]:
statistics.pstdev(df["mpg"])

7.806159061274432

In [23]:
statistics.pstdev(df["weight"])

845.7772335198174

In [24]:
df["weight"].max()

5140

In [25]:
age = [20,25,40,50,55,60,62]

In [26]:
statistics.median(age)

50

In [27]:
Q2 = 50

In [28]:
Q1 = 32.5

In [29]:
Q3 = 57.5

In [30]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

# Measurer of Dispersion-2

## Relative Measurer of Dispersion

# There are two methods:- 
                        1) Coeffiecient of Variation = (Std dev/mean)*100
                        2) coefficient of quartile deviation = (Q3-Q1)/(Q3+Q1)

In [34]:
cov1 = (statistics.pstdev(data1)/statistics.mean(data1))*100

In [36]:
cov2 = (statistics.pstdev(data2)/statistics.mean(data2))*100

In [37]:
print(cov1,cov2)

3.984095364447979 19.691498217271747

In [40]:
def cov(data):
    return (statistics.pstdev(data)/statistics.mean(data))*100

In [50]:
cov(df["mpg"])

33.19711187745463

In [45]:
cov(data1)

3.984095364447979

In [ ]:
cov(data2)

In [51]:
statistics.mean(df["mpg"])

23.514572864321607

In [49]:
cov(df["weight"])

28.47327708429478

Five Number Summery

min	
25%	
50%	
75%	
max

In [53]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000